body{
    background-image: url(Capture1.PNG);
    overflow: hidden;
    background-size: cover;
}

.main{
    display:flex;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 20%;

}
.main_register{
    margin-right: 15%;
    border: 1px solid ;
    margin-left: 5%;
    border-radius: 10px;
    padding-left: 7%;
    padding-top: 30px;
    padding-right: 15%;
    padding-bottom: 50px;
    border-radius: 10px;
    box-shadow:0px 6px 11px 0px;
    background-color: rgb(215, 250, 220);
}
#register-form input{
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 30%;
    border-radius: 12px;
}
#register-form button{
    padding-left:8%;
    padding-right: 8%;
    margin-left: 30%;
    margin-right: 10%;
    margin-top: 3%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgb(79, 79, 247);
    color:white;
    
}
.main_login{
    margin-right: 15%;
    border: 1px solid aqua;
    margin-left: 5%;
    border-radius: 10px;
    padding-left: 7%;
    padding-top: 60px;
    padding-right: 8%;
    padding-bottom: 50px;
    border-radius: 10px;
    box-shadow: 0px 6px 11px 0px;
    background-color: antiquewhite;
}
#login-form input{
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 30%;
    border-radius: 12px;
    border-color: none;
    outline:blanchedalmond;
}
#login-form button{
    padding-right: 95px;
    padding-left: 125px;
    margin-left: 1%;
    margin-right: 10%;
    margin-top: 3%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: green;
    color:white;
    border-radius: 3%;
    
    
}